.dashboard-wrapper {
  display: grid;
  grid-template-rows: auto;
  height: 100%;
}

.dashboard-social {
  // position: relative;
  margin-bottom: 10px;
  grid-column: 1/2;
  grid-row: 2/3;
}

.dashboard-bio-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40px 1fr 1fr;
  grid-column: 2/4;
  grid-row: 1/3;
  padding-right: 60px;
  margin-left: 1.5rem;
}

.dashboard-bio {
  background: rgb(255, 255, 255);
  padding: 15px;
  width: 100%;
  height: 100%;
  grid-row: 2/4;
  // margin-top: 5px;
  border-radius: 15px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  color: black;
  outline: none;
  min-height: 300px;
}

.dashboard-bio-wrapper p {
  font-weight: bold;
  grid-row: 1/2;
  margin-left: 15px;
  justify-self: flex-start;
  text-align: center;
}

.dashboard-location-wrapper {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 5px;
}

.dashboard-welcome {
  margin-top: 1rem;
  color: black;
  grid-row: 1/2;
  grid-column: 1/2;
  justify-self: flex-start;
  transform: translateY(40%);
  font-weight: bold;
}
.dashboard-welcome i {
  margin-right: 10px;
}

.dashboard-title {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: center;
}

.dashboard {
  grid-column: 1/3;
  display: grid;
  flex-direction: column;
  margin-top: 1rem;
}

.dashboard .btn {
  justify-self: left;
  text-align: center;
}

.dashboard-actions {
  display: grid;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .dashboard {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
  }

  .dashboard-social {
    margin-right: 0rem;
  }

  .profile-body {
    margin: 0;
    max-width: 100%;
  }
  .dashboard-bio-wrapper {
    width: 100%;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .dashboard-bio {
    display: flex;
    flex-direction: column;
  }

  .dashboard-wrapper {
    margin-top: 1rem;
    justify-self: center;
  }

  .dashboard-location {
    justify-self: center;
    text-align: center;
    margin-top: 1rem;
  }
}

.dashboard-delete {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 320px) {
  .dashboard-bio {
    justify-self: center;
  }
  .dashboard {
    margin-top: 1rem;
    max-width: fit-content;
    justify-self: center;
  }
  .dashboard-bio-wrapper {
    display: flex;
    flex-direction: column;
  }

  .profile-reviews-wrapper {
    justify-self: flex-start;
  }
}
