@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --primary-color: #2a04d3;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  // background-color: #fff;
  background-color: #faf9f6;
  color: #333;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
}

ul {
  list-style: none;
}

/* Utilities */
.container {
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  padding: 0 0rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  height: 100%;
}

/* Form */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  resize: none;
}

.form input[type='submit'],
button {
  font: inherit;
}

@import 'mixins.scss';
@import 'alert.scss';
@import 'navbar.scss';
@import 'button.scss';
@import 'login.scss';
@import 'register.scss';
@import 'form.scss';
@import 'dashboard.scss';
@import 'social.scss';
@import 'review.scss';
@import 'profiles.scss';
