.register-btn {
  margin-top: 3rem;
}

.register-wrapper {
  display: grid;
  grid-template-rows: 0.5fr 2fr 0.5fr;
}
.register-title {
  grid-row: 1/2;
  justify-self: start;
  align-self: flex-end;
}

.fa-user {
  margin-right: 5px;
  margin-left: 5px;
}
